<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar</title>
  <link rel="stylesheet" href="../styles/base.css">
  <link rel="stylesheet" href="../styles/calendar.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
  <button onclick="location.href='../index.html'" class="back-btn">
    <i class="fas fa-arrow-left fa-2x"></i>
  </button>

  <h1>Up coming events...</h1>
  <div id="calendarEvents"></div>

  <script src="../scripts/calendar.js"></script>
</body>
</html>