<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todo</title>
  <link rel="stylesheet" href="../styles/base.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
  <button onclick="location.href='../index.html'" class="back-btn">
    <i class="fas fa-arrow-left fa-2x"></i>
  </button>

  <h1>todo! (features to add)</h1>
  <span>maybe some sort of trello, or just a todo list would be rad</span>
  <span>have a little gear at the top: lets you: </span>
  <ul>
    <li>type in name</li>
    <li>type in city</li>
    <li>select what buttons you want</li>
    <li>if you want the calendar you need to pop in an api key</li>
    <li>probably should do the same with weather api</li>
    <li>keep all of those configs in a seperate json file for open source ease?</li>
  </ul>

</body>
</html>