<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/weather.css">
  <link rel="stylesheet" href="../styles/base.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <title>Weather</title>
</head>
<body>
  <button onclick="location.href='../index.html'" class="back-btn">
    <i class="fas fa-arrow-left fa-2x"></i>
  </button>

  <div id="temp-template"></div>
  <script src="../scripts/weather.js"></script>
</body>
</html>