@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap);

body {
  background-color: #808080;
  color: #D0D0D0;
  font-family: 'Montserrat', serif;
  cursor: none;
}

.back-btn {
  background-color: #686868;
  border: none;
  color: #ddd;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border-radius: 32px;
}