.event {
  width: 100%;
  background-color: #686868;
  border: 1px solid black;
}

.first-td {
  width: 75px;
  background-color: #585858;
  border-right: 1px solid black;
}

.second-td {
  font-size: 1.5em;
}