.back-btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

#temp-template {
  margin-top: 20px;
}

.current-icon {
  margin-left: 40px;
  margin-right: 25px;
}

.current-icon img {
  transform: scale(2.5);
}

.current-temp {
  font-size: 4em;
}

.current-summary {
  font-size: 2em;
}

.comming-days {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.forcast-container {
  width: 98%;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0 auto;
}

th {
  width: 130px;
}

.weatherbox {
  width: 130px;
  height: 100px;
}

.card-icon {
  text-align: center;
  transform: scale(1.2);
}

.hi-lo {
  text-align: center;
  font-weight: 800;
}